.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.LeadAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.progress {
  margin-top: 25px;
  width: 100%;
  background: #000;
  height: 25px;
  display: inline-flex;
  color: #e8f1e8;
  font-size: 20px;
  border-radius: 10px;
}

.progress-one {
  height: 100%;
  background: #0e1ce0;
  text-align: center;
}

.progress-two {
  height: 100%;
  background: #ff0000;
  text-align: center;
  color: white;
}
